.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 25px;
}
.navlinks{
    display: flex;
    gap: 15px;
    color: hsl(0,0%,75%);
    list-style: none;
}
.navlinks a{
    text-decoration: none;
    color: inherit;
}
.herosection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    max-width: 50%;
}
.content h1{
    font-size: 40px;
}
.content p{
    color: hsl(0,0%,75%);
    font-size: 16px;
}
.enter{
    display: flex;
    gap: 10px;
}
.enter input{
    border: 1px solid hsl(243, 87%, 12%);
    width: 300px;
}
.enter button{
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: hsl(240, 75%, 98%);
    padding: 5px 30px;
}
.image{
    width: 200px;
    height: 200px;
}